* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #eeeeee;
}

.navbar {
    display: flex;
    justify-content: space-around;

}


/* Implementieren Sie Ihre Änderungen hier. Lassen Sie den Code oben so wie er
* ist!!! */

h1{
    text-align: center;
    background-color: 

}

.navbar{
    background-color: greenyellow;
    color: white;
    padding: 20px;



}
.nav-item{
    list-style: none;
}

h2{
    margin-left: 200px;
    background-color: white;
    box-decoration-break: inherit;
    
}
p{
    margin-left: 200px;
    background-color: white;
}
.nav-link{
    font-size: 20pt;
    color: white;
    text-decoration: none;
    font-weight: 600;
}